<div class=" container">
    <div class="container list-group">
        <div class="d-flex justify-content-between align-items-center list-group-item bg-success">
            <h3 class="text-white">{{ecg._id}}</h3>
            <div class="text-end text-light fs-4">
                <a href="//{{ecg.filepath}}" class="link-info "><i class="fa-solid fa-eye me-4"></i></a>
                <a [routerLink]="'/ecg/edit/'+[ecg.id]" class="link-warning"><i class="fa-solid fa-pen-to-square me-4"></i></a>
                <a (click)="onDelete(ecg._id)" class="link-danger"><i class="fa-solid fa-trash-can me-4"></i></a>
            </div>
        </div>
        <div class="list-group-item-success p-4 pt-2">
            <div class="metadata text-end">
                <small>Create at : <small class="text-muted">{{metadata.createdAt | date : 'medium'}}</small></small>
                <small> Last update : <small class="text-muted">{{metadata.updatedAt | date : 'medium'}}</small></small>
            </div>
            <div class="m-3 mt-0">
                <div class="mb-4">
                    <h5 class="text-black">Cardiac disease</h5>
                    <div class=" container list-group-item bg-opacity-25 bg-success">{{ecgMetadata.cardiac_diseases}}</div>
                </div>
                <div class="mb-4">
                    <h5 class="text-black">Patient : <a routerLink="/patients/view/{{ecg.patient_id}}">{{patient.firstname+' '+patient.lastname+' '+patient.birthday}}</a></h5>
                    <ul class="m-2 list-group-flush">
                        <li class="list-group-item bg-opacity-50 bg-success">Age : {{ecgMetadata.patient.age}}</li>
                        <li class="list-group-item bg-opacity-25 bg-success">Height : {{ecgMetadata.patient.height}}</li>
                        <li class="list-group-item bg-opacity-50 bg-success">Weight : {{ecgMetadata.patient.weight}}</li>
                        <li class="list-group-item bg-opacity-25 bg-success">Sex : {{ecgMetadata.patient.sex}}</li>
                    </ul>
                </div>
                <div class="mb-4">
                    <h5 class="text-black">Recording :</h5>
                    <ul class="m-2 list-group-flush">
                        <li class="list-group-item bg-opacity-50 bg-success">Start at : {{ecgMetadata.recording.started_at}}</li>
                        <li class="list-group-item bg-opacity-25 bg-success">End at : {{ecgMetadata.recording.ended_at}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container list-group">
        <h2 class="container mb-0 text-white p-4 bg-success">PDF file</h2>
        <div class="d-flex  justify-content-center  list-group-item-success p-4 ">
            <pdf-viewer [src]="getPath()"
                        [original-size]="false">
            </pdf-viewer>
        </div>
    </div>
</div>
<div class="container mt-lg-5">
    <app-return-link [link] = "link" ></app-return-link>
</div>
