<div class="container bg-success text-light p-3 align-items-center d-flex justify-content-between mb-4">
    <h2>Patients</h2>
    <div class="addDataset">
        <a routerLink="/patients/new" class="link-light text-decoration-none"><i class="fa-solid fa-plus fs-2"></i></a>
    </div>
</div>
<div class="container my-4">
    <div class="table-responsive table">
        <div class="justify-content-between d-flex fw-bold col-12 py-2">
            <div style="width: 15px">#</div>
            <div class="col-4 " style="cursor: pointer" (click)="filterFirstname()">Firstname</div>
            <div class="col-2" style="cursor: pointer" (click)="filterLastname()">Lastname</div>
            <div class="col-2" style="cursor: pointer" (click)="filterBirthday()">Birthday</div>
            <div class="" style="width: 50px;cursor: pointer" (click)="filterSex()">Sex</div>
            <div class="col-1">Actions</div>
        </div>
        <div class="body list-group">
            <div class="presentation justify-content-between d-flex col-12 list-group-item bg-success bg-opacity-25"
                 *ngFor="let patient of patients; let id = index">
                <div style="width: 15px"></div>
                <div class="col-4 ">{{patient.firstname}}</div>
                <div class="col-2">{{patient.lastname}}</div>
                <div class="col-2">{{patient.birthday | date }}</div>
                <div class="text-center" style="width: 50px">{{patient.sex}}</div>
                <div class="col-1 d-flex justify-content-between align-items-center">
                    <a [routerLink]="'/patients/view/'+[patient._id]"><i class="fa-solid fa-eye text-info"></i></a>
                    <a [routerLink]="'/patients/edit/'+[id + 1]"><i class="fa-solid text-warning fa-pen-to-square"></i></a>
                    <a (click)="onDelete(patient._id)"><i class="fa-solid fa-trash-can text-danger"></i></a>
                </div>
            </div>
            <div class="m-auto mt-4 col-11 mb-5  d-flex align-items-center justify-content-center fs-4  bg-success bg-opacity-25"
                 *ngIf="patients.length === 0" style="height: 250px">
                Empty
            </div>
        </div>
    </div>
</div>


