<div class="container d-flex align-content-center justify-content-between  bg-success p-3">
    <form action="" class="px-5 mx-lg-4 d-flex">
        <select class="form-select dropdown">
            <option value="">--Filter--</option>
            <option value="name">Name</option>
            <option value="created_at">Creation date</option>
            <option value="last_update">Last update</option>
            <option value="number_of_ecg">Number of ecg</option>
        </select>
    </form>
    <div class="">
        <a routerLink="{{linkForm}}" class="link-light fs-3 mx-lg-4"><i class="fa-solid fa-plus"></i></a>
        <a routerLink="{{linkPrevious}}" class="link-dark fs-3 mx-2"><i class="fa-solid fa-arrow-left"></i></a>
        <a routerLink="{{linkNext}}" class="link-dark fs-3 mx-2"><i class="fa-solid fa-arrow-right"></i></a>
    </div>
</div>
