<div class="container mt-lg-5">
    <div class="p-3 bg-success d-flex justify-content-between text-light align-items-center">
        <h2>{{pathology.name}}</h2>
        <div class="fs-5">
            <a class="mx-2 link-info" routerLink="/pathologies/ecgs/{{pathology._id}}"><i class="fa-solid fa-eye"></i></a>
            <a class="mx-2 link-warning"><i class="fa-solid fa-pen-to-square"></i></a>
            <a class="mx-2 link-danger"><i class="fa-solid fa-trash-can"></i></a>
        </div>
    </div>
    <div class="container p-5 mb-4 bg-opacity-50">
        {{pathology.description}}
    </div>
</div>
<div class="container">
    <app-return-link [link] = "link" ></app-return-link>
</div>
