<div class="container d-flex align-items-center flex-column pb-xl-5">
    <h3 class="bg-success  text-center col-12 p-3 mt-4 text-light" >Add Personnel</h3>
    <form class="row g-2 col-12 p-3 bg-success bg-opacity-25" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="form-floating col-md-7">
            <input type="text" class="form-control" id="firstname" placeholder="" formControlName="firstname">
            <label for="firstname" class="form-label">Firstname</label>
        </div>
        <div class="form-floating col-md-5">
            <input type="text" class="form-control" id="lastname" placeholder="" formControlName="lastname">
            <label for="lastname" class="form-label">Lastname</label>
        </div>
        <div class="form-floating col-md-6">
            <input type="login" class="form-control" id="login" placeholder="" formControlName="login">
            <label for="login" class="form-label">Login</label>
        </div>
        <div class="form-floating col-md-6">
            <input type="password" class="form-control" id="password" placeholder="" formControlName="password">
            <label for="password" class="form-label">Password</label>
        </div>
        <div class="form-floating col-md-7">
            <input type="email" class="form-control" id="email" placeholder="" formControlName="email">
            <label for="email" class="form-label">Email</label>
        </div>
        <div class="form-floating col-5">
            <input type="date" class="form-control" id="birthday" placeholder="1234 Main St" formControlName="birthday">
            <label for="birthday" class="form-label">Birthday</label>
        </div>
        <div class="form-floating col-3">
            <input type="text" class="form-control" id="address" placeholder="" formControlName="address">
            <label for="address" class="form-label">Address</label>
        </div>
        <div class="form-floating col-5">
            <input type="text" class="form-control" id="city" placeholder="" formControlName="city">
            <label for="city" class="form-label">City</label>
        </div>
        <div class="form-floating col-4">
            <input type="text" class="form-control" id="country" placeholder="" formControlName="country">
            <label for="country" class="form-label">Country</label>
        </div>
        <div class="form-floating col-md-6">
            <input type="text" class="form-control" id="nationality" placeholder="" formControlName="nationality">
            <label for="nationality" class="form-label">Nationality</label>
        </div>
        <div class="form-floating col-md-6">
            <input type="text" class="form-control" id="cni" placeholder="" formControlName="cni">
            <label for="cni" class="form-label">CNI</label>
        </div>
        <div class="form-floating col-6">
            <input type="text" class="form-control" id="profession" placeholder="" formControlName="profession">
            <label for="profession" class="form-label">Profession</label>
        </div>
        <div class="form-floating col-4">
            <input type="text" class="form-control" id="phone" placeholder="" formControlName="phone">
            <label for="profession" class="form-label">Phone</label>
        </div>
        <div class="form-floating col-md-2">
            <div type="text" class="form-control" id="sex" >
                M <input type="radio" name="sex" value="M" formControlName="sex">
                F <input type="radio" name="sex" value="F" formControlName="sex">
            </div>
            <label for="sex" class="form-label">Sex</label>
        </div>
        <p class="text-danger">{{ errorMessage }}</p>
        <div class="col-12 d-flex justify-content-between">
            <button type="submit"  [disabled]="signUpForm.invalid" class="btn btn-success p-2 px-3 fs-5">Save new staff</button>
        </div>
    </form>
</div>

