<div class="col-11 m-auto mt-4">
    <h2 class="px-3 bg-success  p-3 text-light">Statistics</h2>
    <div class="stats ">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../../assets/platform/images/—Pngtree—vector%20heart%20beat%20icon_4183850.png" alt="">
                    <h3>ECG</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                    <a href="/ecgs"><i class="fa-solid fa-arrow-right fs-3 px-4"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../../assets/platform/images/kisspng-illustration-vector-graphics-clip-art-image-micros-how-do-i-do-keyword-research-realtor-seo-guide-5c8c95511c23e6.8748827815527171371153.png" alt="">
                    <h3>Pathologies</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                    <a href="/pathologies"><i class="fa-solid fa-arrow-right fs-3 px-4"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../../assets/platform/images/kisspng-patient-portal-hospital-health-care-physician-patient-5abee0bb4ce047.6685170915224588113149.png" alt="">
                    <h3>Patients</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                    <a href="/patients"><i class="fa-solid fa-arrow-right fs-3 px-4"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../../assets/platform/images/387561.png" alt="">
                    <h3>Medical staff</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                    <a href="/staffs"><i class="fa-solid fa-arrow-right fs-3 px-4"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center px-3 bg-success p-3 text-light mt-5">
<!--        <h2>ActivityModel</h2>-->
<!--        <i class="fa-solid fa-trash-can fs-4 text-danger"></i>-->
    </div>
    <div class="container activity mb-4 p-5 pt-0 mt-3">
        <div class="list-group">

        </div>
    </div>
</div>
